body{
  font-family: 'Lato', sans-serif;
  padding-top: 90px;
  margin: 0; 
  min-height: 100vh;
}

.custom-navbar {
  padding: 20px 0;
  z-index: 999;
  background:#fff;
  box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.navbar-nav .nav-link {
  color: #000;
  font-weight: 500;
}

.navbar-icons span {
  cursor: pointer;
}
.navbar-collapse{
  background:#fff;
  padding:15px;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}


.contact-hero{
  background-image: url("../img/shop/style.webp");
  background-size: cover;
  background-position: center;
  padding:100px 0;
  position: relative;
}

.contact-hero::after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(255,255,255,0.1); 


}

.contact-hero .container{
  position:relative;
  z-index:2;
}

.shop-logo{
  width:60px;
  margin-bottom:15px;
}
.contact-title{
font-size:42px;
font-weight:bold;
margin-bottom:10px;
}
.breadcrumb-custom{
font-size:16px;
}

.breadcrumb-custom a{
text-decoration:none;
color:black;
font-weight:500;
}

.breadcrumb-custom span{
margin:0 5px;
}

.breadcrumb-custom .active{
color:#777;
}
@media(max-width:768px){
  .contact-hero {
    padding: 50px 0;
  }

  .contact-title {
    font-size: 32px;
  }

  .shop-logo {
    max-width: 90px;
  }

  .breadcrumb-custom {
    font-size: 14px;
  }
}




/* section */
.touch {
  background: #fff;
}

/* title */
.touch-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.touch-desc {
  color: #777;
  max-width: 600px;
  margin: auto;
  font-size: 14px;
  line-height: 1.6;
}

/* left side */
.touch-info span {
  font-size: 28px;
  margin-right: 15px;
  color: #000;
}

.touch-info h6 {
  font-weight: 600;
  margin-bottom: 5px;
}

.touch-info p {
  color: #777;
  font-size: 14px;
  margin: 0;
}

/* form */
.touch-form label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

.touch-form .form-control {
  height: 50px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.touch-form textarea {
  height: auto;
}

/* button */
.touch-btn {
  padding: 10px 30px;
  border: 1px solid #000;
  background: transparent;
  border-radius: 10px;
  transition: 0.3s;
}

.touch-btn:hover {
  background: #000;
  color: #fff;
}

/* responsive */
@media (max-width: 768px) {

  .touch-info {
    margin-bottom: 25px;
  }

  .touch-form .form-control {
    height: 45px;
  }

  .touch-btn {
    width: 100%;
  }

}

.feature-item {
  background-color:#FAF4F4;
  text-align: center;
  padding: 25px 20px;
  border-radius:10px;
  transition:0.3s;
}

.feature-item:hover{
  transform:translateY(-5px);
}

.feature-item h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.feature-item p {
  color: #6c757d;
  margin-bottom: 0;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .feature-item {
    text-align: left;
  }
}


.footer-section {
  padding: 60px 0;
  background-color: #fff;
}

.footer-title {
  margin-bottom: 15px;
  font-weight: 600;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
  color: #555;
  cursor: pointer;
}

.footer-links li:hover {
  color: #b88e2f;
}

.footer-address {
  color: #777;
  line-height: 1.6;
}

.newsletter-box {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.newsletter-box input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
}

.newsletter-box button {
  padding: 8px 12px;
  border: none;
  background: #b88e2f;
  color: white;
  cursor: pointer;
}

.footer-copy {
  margin-top: 20px;
  color: #777;
  text-align: center;
}

/* responsive */
@media (max-width:768px){

  .account-section{
    padding:50px 20px;
  }

  .account-box{
    margin-bottom:40px;
    padding:20px;
  }

  .account-box h2{
    font-size:24px;
  }

  .account-hero{
    padding:70px 0;
  }

  .newsletter-box {
    flex-direction: column;
  }

  .newsletter-box button {
    width: 100%;
  }

}
